<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference Management System</title>
</head>
<body>
    <h1>Conference Management System</h1>
    <p>Hoş geldiniz! Aşağıdaki işlemleri gerçekleştirebilirsiniz:</p>
    <a href="/create-conference"><button>Konferans Oluştur</button></a>
    <a href="/conferences"><button>Konferansları Görüntüle</button></a>
    <a href="/register"><button>Kayıt Ol</button></a>
    <a href="/login"><button>Giriş Yap</button></a>
    <a href="/submit-paper"><button>Bildiri Gönder</button></a>
    <a href="/review-papers"><button>Bildirilere Gözat</button></a>
    <a href="/assigned-papers"><button>Atanmış Makaleler</button></a>
</body>
</html>
