<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bildiri Gönder</title>
</head>
<body>
    <h1>Bildiri Gönder</h1>
    <form action="/submit-paper" method="post" enctype="multipart/form-data">
        <div>
            <label for="title">Başlık:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div>
            <label for="abstract">Özet:</label>
            <textarea id="abstract" name="abstract" required></textarea>
        </div>
        <div>
            <label for="keywords">Anahtar Kelimeler:</label>
            <input type="text" id="keywords" name="keywords" required>
        </div>
        <div>
            <label for="file">Dosya Yükle:</label>
            <input type="file" id="file" name="file" required>
        </div>
        <div>
            <label for="title">Alanı:</label>
            <input type="text" id="expertise" name="expertise" required>
        </div>
        <button type="submit">Gönder</button>
    </form>
</body>
</html>
